/* 
    Created on : 21-sep-2016, 3:23:24
    Author     : FERNANDO
*/
body{
    width:900px;
    margin: 0 auto;
    font-family: sans-serif;
}

/************** INICIO HEADER*******************/
header div{
}
header div img{
    margin-top: 15px;
    width: 80px;
    height: 70px;
    border-radius: 50%;
    margin-left: 15px;
}
header div p{
    color: #9a9a9a;
    font-size: 20px;
    display: inline-block;
    margin-left: 30px;
}
header div a{
    /*background-color: #d13d7a;*/
     background-color: #00A9E8;
    color: white;
    padding: 6px;
    border-radius: 4px;
    float: right;
    margin-top: 69px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
}
header div a:hover{
 background: #30a0ca;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2)
}
/************** FIN HEADER*******************/

/************** INICIO NAV *******************/
nav div ul{
    padding: 10px 0px;
    border-bottom: 1px solid #778;
    background-color: #46a9a0;
    border-radius: 5px 5px 0px 0px;
    margin-top: 10px;
}
nav div ul li{
   list-style: none;
   display: inline; 
   margin-left: 5px;
}
nav div ul li a{
    padding: 12px 1em;
    text-decoration: none;
    color: #f7f4f4;
}
nav div ul li a:hover{
    color: #ffffff;
    background-color: #149188;
    border-radius: 5px 5px 0px 0px;
}
/************** FIN NAV *******************/

/************ INICIO SECTION ********************/
section{
    border: 1px solid #c5e8e5;
    padding: 15px 15px 25px;
    border-radius: 6px;
}
section div img{
    width: 100%;
}
/************ INICIO SECTION ********************/

/*******************INICIO FOOTER****************/
footer{
    margin-top: -4px;
}
footer p{    
    float: left;
    font-weight: bold;
    font-size: 13px;
    margin-left: 4px;
}
footer ul{
    float: right;
}
footer ul li{
    float: left;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #1bb7aa;
    padding-right: 8px;
    
    font-size: 13px;
}
footer div ul li span{
    margin-right: 5px;
}
/*******************FIN FOOTER****************/

/*************** INICIO LOGGIN **********/
#login{
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
}
#formulario{
    border: 1px solid #c5e8e5;
    padding: 0px 15px 15px;
    border-radius: 6px;
    width: 224px;
    margin: 0 auto;
}
#login img{
    width: 70px;
    margin-left: 15px;
}
#login h3{
    display: inline-block;
    margin-left: 20px;
    color:#cecece;
}
#login #formulario h3{
    margin-left: 10px;
    color:black;
}
#formulario form{
    margin-left: 10px;
    margin-right: 10px;
}
#formulario form label, button{
    display: block;
    margin-top: 16px;
}

#formulario form button{
    background: #85b285;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    height: 37px;
}
#formulario form button:hover{
    background: #92ba79;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
}
#formulario form input{
    border: 1px solid #d5d5d5;
    border-top: 2px solid #d5d5d5;
    border-radius: 3px;
    padding-left: 4px;
    height: 25px;
    width: 100%;
}
#login #retorno {
    margin-top: 15px;
}
#login div a{
    text-decoration: none;
    color: #1bb7aa;
}

/*************** FIN LOGGIN **********/


/************* INICIO CONTACTO *******/
#contacto{
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
    
}
#contacto img{
    width: 70px;
    margin-left: 15px;
}
#contacto h3{
    display: inline-block;
    margin-left: 20px;
    color:#cecece;
}
#contacto #retorno {
    margin-top: 15px;
}
#contacto div a{
    text-decoration: none;
    color: #1bb7aa;
}
#contacto #formulario{
    width: 330px;
}
#contacto #formulario textArea{
    border: 1px solid #d5d5d5;
    border-top: 2px solid #d5d5d5;
    border-radius: 3px;
    padding-left: 4px;
    height: 90px;
    width: 100%;
}

/************* FIN CONTACTO *******/